# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
**/generated_plugin_registrant.*
pubspec.lock

# IDE
.idea/
.vscode/
*.iml
.DS_Store

# Tests & Coverage
coverage/
*.lcov

# Logs
*.log
flutter_*.log

# OS
Thumbs.db
